.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
    background-color: #0c5806; /* Sidebar background color */
    color: white;
  }
  
  mat-nav-list a {
    color: rgb(6, 5, 5);
    text-decoration:whitesmoke;
  }
  mat-nav-list span{
    color: floralwhite;
  }
  
  mat-nav-list a:hover {
    background-color: #11f862; /* Hover background color */
  }
  
  mat-icon {
    margin-right: 10px;
    color: #050505;
  }
  