<app-user-nav></app-user-nav>
<!------------main-wrapper start https://elearn.websitelayout.net/-->
<div class="carousel-container" [@slide]="currentIndex">
  <div class="carousel-slide" *ngFor="let image of images; let i = index" [hidden]="i !== currentIndex">
    <img [src]="'assets/home/' + image" alt="Slide {{ i }}">
    <div class="carousel-text">
      <h2>{{ carouselItems[i].title }}</h2>
      <p>{{ carouselItems[i].description }}</p>
    </div>
  </div>
</div>

<!--------------------------------------Category section--------------->
<div class="category-section">
  <mat-card class="cat-card" *ngFor="let category of categories">
    <div class="card-icon" *ngIf="category.icon" [ngStyle]="{'backgroundImage':'url(' + category-icon + ')'}"></div>
    <h2>{{category.name}}</h2>

  </mat-card>

</div>
<!----------------course section------------->
<div class="course-section">
  <h1 class="course-section-heading">
    <span>Our Online Courses</span>
  </h1>
  <div class="card-container">
    <mat-card class="card" *ngFor="let course of courses">
      <div class="card-image" [style.backgroundImage]="'url(' + course.imagePath+ ')'"
        [style.background-size]="'cover'">
      </div>
      <h2>{{course.name}}</h2>
      <p>${{course.amount}}</p>
    </mat-card>
  </div>
</div>