
.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: rgb(13, 105, 124);
}

.centered-buttons {
    display: flex;
    gap: 16px;
}

.margin-right-button {
    margin-right: 16px;
}
