<app-tutor-nav></app-tutor-nav>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h1 class="header-text text-center text-white">Login Form</h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="tutorLoginForm" (ngSubmit)="tutorLogin()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" [formControl]="emailControl" placeholder="Enter your email">
                            <div *ngIf="emailControl.hasError('required')  && emailControl.touched " class="text-danger">Email is required</div>
                        </div> 

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" [formControl]="passwordControl" placeholder="Enter your password">
                            <div *ngIf="passwordControl.hasError('required') && passwordControl.touched" class="text-danger">Password is required</div>
                        </div> 

                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-lg" (click)="onLoginClick()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

