<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">
      <span class="fw-bold">WEBLEARN</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/tutor/tutor-home']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/tutor/instructors']"
            >Instructors</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/tutor/courses']"
            >Courses</a
          >
        </li>
      </ul>
    </div>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNav"
      *ngIf="!tutorLog"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/tutor/tutor-login']"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            [routerLink]="['/tutor/tutor-register']"
            >Register</a
          >
        </li>
      </ul>
    </div>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNav"
      *ngIf="tutorLog"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            (click)="logout()"
            [routerLink]="['tutor-login']"
            >Logout</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['tutor-profile']"
            >Profile</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
