<app-user-nav></app-user-nav>
<div class="main d-flex justify-content-center align-items-center">
    <mat-card class="form-card">
        <mat-card-header>
            <h1>Login</h1>
        </mat-card-header>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="proceedLogin()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
                <mat-error *ngIf="loginForm?.get('email')?.hasError('required')">Email is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="loginForm?.get('password')?.hasError('required')">Password is required</mat-error>
            </mat-form-field>
            <div class="button-container">
                <button mat-raised-button class="custom-button">Login</button>
            </div>
        </form>
        <div class="signin">
            <span>Don't have an account? <a routerLink="/register">Sign up here</a></span>
        </div>
        <div class="tutor-section mt-3">
            <span class="fw-bold">Are you a Tutor?</span>
            <button routerLink="/tutor" class="ms-1 btn btn-outline-dark">Login</button>
        </div>
    </mat-card>
</div>
