<div *ngIf="!editMode" class="bg-success h-100 w-100">
  <div mat-dialog-content class="d-flex flex-column align-items-center">
    <img
      src="assets/home/instructor2.jpg"
      class="rounded-circle p-1"
      width="200px"
      height="200px"
    />
    <div class="mt-3">
      <input type="file" (change)="onFileSelected($event)" accept="image/*" />
    </div>
    <form (ngSubmit)="Saveuser()" [formGroup]="form">
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100 mb-3">
        <input matInput placeholder="Education" formControlName="education" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100 mb-3">
        <input matInput placeholder="Email" formControlName="email" readonly />
      </mat-form-field>

      <!-- Add profile picture upload field if needed -->

      <div mat-dialog-actions class="d-flex justify-content-end">
        <button mat-raised-button color="warn" (click)="closeDialog()">
          Cancel
        </button>
        <button mat-raised-button color="primary" (click)="Saveuser()">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
